.bookshelf {

  &__title {
    font-family: $font-title;
    color: $purple;
    font-size: 28px;
    margin-bottom: 2 * $grid-gutter;
  }

  &__grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}