//
// Colors variables
//
// Lint options:
// sass-lint:disable no-color-hex
//

// Default
$black:         #000 !default;
$white:         #fff !default;

$blue:          #08b2e3 !default;
$gray-darker:   #505050 !default;
$gray-dark:     #8f8f8f !default;
$gray:          #efe9f4 !default;
$green:         #57a773 !default;
$purple:        #484d6d !default;
$red:           #ee6352 !default;