//
// Colors variables
//
// Lint options:
// sass-lint:disable no-color-hex
//

// Default
$black:         #1a1423 !default;
$white:         #fff !default;


$gray-dark:     #8f8f8f !default;
$gray-darker:   #505050 !default;
$gray:          #e6eaed !default;
$gray-light:    #f2f5f7 !default;

$green:         #00fff0 !default;
$blue:          #3a4752 !default;
$purple-light:  #774c60 !default;
$salmon:        #b75d69 !default;
$beige:         #eacdc2 !default;
