//
// Colors variables
//
// Lint options:
// sass-lint:disable no-color-hex
//

// Default
$black:         #1a1423 !default;
$white:         #fff !default;


$gray-darker:   #505050 !default;
$gray-dark:     #8f8f8f !default;
$gray:          #e2e2e2 !default;
$gray-light:    #f2f5f7 !default;

$green:         #00fff0 !default;
$blue-dark:     #3a4752 !default;
$blue:          #4782CD !default;
$blue-light:    #6ab9ea !default;

$yellow:        #fad87d !default;
